<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-post"></i> Users</h3>
    </div>
    <div class="panel-body text-center">
        <i class="main-spinner fa fa-spin fa-spinner" *ngIf="loading"></i>
        <div *ngIf="!loading">
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-user fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{dashboardData.unique_users}}</div>
                                    <div>Unique users</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-pie-chart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{dashboardData.percent_school_population}}%</div>
                                    <div>% of {{currentDomain}} population</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-clock-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">150</div>
                                    <div>Daily active users</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-4 text-left" *ngIf="!selectedGroup">
                    <div class="form-group">
                        <label for="selGroup">Select a group to filter</label>
                        <input class="form-control" type="text" id="selGroup" placeholder="Start typing to autocomplete" />
                    </div>
                </div>
                <div class="col-lg-4 text-left" *ngIf="selectedGroup">
                    <label>Selected group:</label>
                    <h3>{{selectedGroup.name}}</h3>
                    <button type="button" class="btn btn-danger" (click)="removeSelectedGroup()"><i class="fa fa-close"></i> Remove</button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-6">
                    <wl-chart [chartData]="gradUndergradChartData"></wl-chart>
                </div>
                <div class="col-lg-6">
                    <wl-chart [chartData]="gradYearChartData"></wl-chart>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-6">
                    <wl-chart [chartData]="gradYearChartData"></wl-chart>
                </div>
                <div class="col-lg-6">
                    <wl-chart [chartData]="gradYearChartData"></wl-chart>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-post"></i> Groups</h3>
    </div>
    <div class="panel-body text-center">
        <i class="main-spinner fa fa-spin fa-spinner" *ngIf="loading"></i>
        <div *ngIf="!loading">
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{dashboardData.active_groups}}</div>
                                    <div>Active groups</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-home fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">3</div>
                                    <div>Avg. hosted events</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-user-times fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{dashboardData.avg_group_size}}</div>
                                    <div>Avg. group size</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>