<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-post"></i> Posts</h3>
    </div>
    <div class="panel-body">
        <!--<div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="selSchool">School:</label>
                    <select class="form-control" [(ngModel)]="school_id" (change)="changeDomain()">
                        <option *ngFor="let d of domains" [value]="d.id">{{d.full_name}}</option>
                    </select>
                </div>
            </div>
        </div>-->
        <div class="text-center row">
            <i class="main-spinner fa fa-spin fa-spinner" *ngIf="loading"></i>
            <table class="table table-striped" [mfData]="activities" #mf="mfDataTable" [mfRowsOnPage]="5" *ngIf="!loading">
                <thead>
                    <tr>
                        <th style="width: 30%">
                            <mfDefaultSorter by="title">Title</mfDefaultSorter>
                        </th>
                        <th style="width: 15%">
                            <mfDefaultSorter by="start_time">From</mfDefaultSorter>
                        </th>
                        <th style="width: 15%">
                            <mfDefaultSorter by="end_time">To</mfDefaultSorter>
                        </th>
                        <th style="width: 30%">
                            <mfDefaultSorter by="location.name">Where</mfDefaultSorter>
                        </th>
                        <th style="width: 10%">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let post of mf.data">
                        <td>{{post.title}}</td>
                        <td>{{post.start_time | secondToDate | date:'dd/MM/yyyy HH:mm'}}</td>
                        <td>{{post.end_time | secondToDate | date:'dd/MM/yyyy HH:mm'}}</td>
                        <td>{{post.location.name}}</td>
                        <td>
                            <a class="btn btn-primary" [routerLink]="['edit', post.activity_id]"><span class="fa fa-pencil"></span></a>
                        </td>
                    </tr>
                    <tr *ngIf="!mf.data.length">
                        <td colspan="4">There is no posts to show.</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>