<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-10">
                <h3 class="panel-title">
                    <i class="fa fa-search"></i> Filter Activities
                </h3>
            </div>
            <div class="col-md-2 text-right">
                <a (click)="filtersOpened = !filtersOpened" style="cursor: pointer;">
                    <span class="fa" [class.fa-minus]="filtersOpened" [class.fa-plus]="!filtersOpened"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="panel-body" *ngIf="filtersOpened">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" (appEnterKeypress)="loadPage()" [(ngModel)]="activity.title">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="start_time">From</label>
                    <my-date-picker id="start_time" (dateChanged)="setStartTime($event)" [options]="date_filter_options"></my-date-picker>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="end_time">To</label>
                    <my-date-picker id="end_time" (dateChanged)="setEndTime($event)" [options]="date_filter_options"></my-date-picker>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="advancedSearch">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="flagged">Flagged</label>
                    <select class="form-control" id="flagged" [(ngModel)]="flagged">
                        <option [value]="1">Activity flagged</option>
                        <option [value]="0">Activity not flagged</option>
                    </select>
                </div>
            </div>
            <!--<div class="col-md-3">
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" (appEnterKeypress)="loadPage()" [(ngModel)]="activity.description">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="major">Major</label>
                    <input type="text" class="form-control" id="major" (appEnterKeypress)="loadPage()" [(ngModel)]="activity.major">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="graduation_year">Graduation Year</label>
                    <input type="text" class="form-control" id="graduation_year" (appEnterKeypress)="loadPage()" [(ngModel)]="activity.graduation_year">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="academic_level">Academic Level</label>
                    <select class="form-control" id="academic_level" [(ngModel)]="activity.academic_level">
                        <option value="grad">Graduate/Professional</option>
                        <option value="undergrad">Undergraduate</option>
                    </select>
                </div>
            </div>-->
        </div>
        <!--<div class="row" *ngIf="advancedSearch">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="verified">Verified</label>
                    <select class="form-control" id="verified" [(ngModel)]="activity.verified">
                        <option [value]="1">Verified Activity</option>
                        <option [value]="0">Unverified Activity</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="selGroup">Group</label>
                    <input class="form-control" type="text" id="selGroup" placeholder="Start typing to autocomplete" *ngIf="!selectedGroup" />
                    <div class="input-group" *ngIf="selectedGroup">
                        <input type="text" class="form-control" [(ngModel)]="selectedGroup.name" disabled="disabled">
                        <div class="input-group-addon">
                            <a class="remove-group" (click)="removeSelectedGroup()"><i class="fa fa-close"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="flagged">Flagged</label>
                    <select class="form-control" id="flagged" [(ngModel)]="flagged">
                        <option [value]="1">Only flagged activities</option>
                        <option [value]="0">All activities</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 text-left" *ngIf="selectedGroup">
                <label>Selected group:</label>
                <h3>{{selectedGroup.name}}</h3>
                <button type="button" class="btn btn-danger" (click)="removeSelectedGroup()"><i class="fa fa-close"></i> Remove</button>
            </div>
        </div>-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <button type="button" class="btn btn-primary" (click)="loadPage()">
                        Search
                    </button>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a (click)="advancedSearch = !advancedSearch" style="cursor: pointer;">
                    {{(advancedSearch ? 'Basic Search' : 'Advanced Search')}}
                </a>
            </div>
        </div>
    </div>
</div>
<i class="main-spinner center-fix fa fa-spin fa-spinner" *ngIf="loading"></i>

<div class="panel panel-default" *ngIf="!loading">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-activity"></i> Activities</h3>
    </div>
    <div class="panel-body">

        <tabset>
            <tab (select)="tab = 0" [active]="tab === 0" heading="List">
                <table class="table table-striped" [mfData]="activities" #mf="mfDataTable" [mfRowsOnPage]="10" *ngIf="!loading">
                    <thead>
                        <tr>
                            <th style="width: 45%">
                                <mfDefaultSorter by="title">Activity</mfDefaultSorter>
                            </th>
                            <th style="width: 40%">
                                <mfDefaultSorter by="start_time">At</mfDefaultSorter>
                            </th>
                            <th style="width: 15%">
                                <mfDefaultSorter by="public">Privacy</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let activity of mf.data">
                            <td>{{activity.title}}</td>
                            <td>{{activity.start_time * 1000 | date}} {{activity.start_time}}</td>
                            <td>{{(activity.public ? 'Public' : 'Private')}}</td>
                        </tr>
                        <tr *ngIf="!mf.data.length">
                            <td colspan="4">There is no activities to show.</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <mfBootstrapPaginator [rowsOnPageSet]="[10,20,100]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </tab>

            <tab (select)="tab = 1" [active]="tab === 1" heading="Event posting over time" *ngIf="analytics?.event_posting_over_time">
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-lg-4 text-left">
                        <div class="form-group">
                                <my-date-picker (dateChanged)="onDateChanged($event)"
                                [(ngModel)]="selected_date" [options]="date_options"></my-date-picker>
                        </div>
                    </div>
                    <div class="col-lg-4 text-left">
                        <tabset type="pills">
                            <tab *ngFor="let chart of over_time_charts"
                                [heading]="chart.label"
                                [active]="analytics.event_posting_over_time.selected_chart === chart.field"
                                (select)="analytics.event_posting_over_time.selected_chart = chart.field"
                                [disabled]="!analytics.event_posting_over_time[chart.field]">
                            </tab>
                        </tabset>
                    </div>
                </div>
                <div class="row" style="min-height: 500px;">
                    <div class="col-lg-12" *ngIf="analytics.event_posting_over_time.selected_chart">
                        <div *ngFor="let chart of over_time_charts">
                            <app-chart minHeight="500px" *ngIf="analytics.event_posting_over_time.selected_chart === chart.field"
                                [chartData]="analytics.event_posting_over_time[chart.field]"></app-chart>
                        </div>
                    </div>
                    <div class="col-lg-12 text-left" *ngIf="!analytics.event_posting_over_time.selected_chart">
                        There's no event data to show with the selected date range.
                    </div>
                </div>
            </tab>

            <tab (select)="tab = 2" [active]="tab === 2" heading="Event time over time" *ngIf="analytics?.event_time_over_time">
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-lg-4 text-left">
                        <div class="form-group">
                                <my-date-picker (dateChanged)="onDateChanged($event)"
                                [(ngModel)]="selected_date" [options]="date_options"></my-date-picker>
                        </div>
                    </div>
                    <div class="col-lg-4 text-left">
                        <tabset type="pills">
                            <tab *ngFor="let chart of over_time_charts"
                                [heading]="chart.label"
                                [active]="analytics.event_time_over_time.selected_chart === chart.field"
                                (select)="analytics.event_time_over_time.selected_chart = chart.field"
                                [disabled]="!analytics.event_time_over_time[chart.field]">
                            </tab>
                        </tabset>
                    </div>
                </div>
                <div class="row" style="min-height: 500px;">
                    <div class="col-lg-12" *ngIf="analytics.event_time_over_time.selected_chart">
                        <div *ngFor="let chart of over_time_charts">
                            <app-chart minHeight="500px" *ngIf="analytics.event_time_over_time.selected_chart === chart.field"
                                [chartData]="analytics.event_time_over_time[chart.field]"></app-chart>
                        </div>
                    </div>
                    <div class="col-lg-12 text-left" *ngIf="!analytics.event_time_over_time.selected_chart">
                        There's no event data to show with the selected date range.
                    </div>
                </div>
            </tab>

            <tab (select)="tab = 3" [active]="tab === 3" heading="Event attendance over time" *ngIf="analytics?.event_attendance_over_time">
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-lg-4 text-left">
                        <div class="form-group">
                                <my-date-picker (dateChanged)="onDateChanged($event)"
                                [(ngModel)]="selected_date" [options]="date_options"></my-date-picker>
                        </div>
                    </div>
                    <div class="col-lg-4 text-left">
                        <tabset type="pills">
                            <tab *ngFor="let chart of over_time_charts"
                                [heading]="chart.label"
                                [active]="analytics.event_attendance_over_time.selected_chart === chart.field"
                                (select)="analytics.event_attendance_over_time.selected_chart = chart.field"
                                [disabled]="!analytics.event_attendance_over_time[chart.field]">
                            </tab>
                        </tabset>
                    </div>
                </div>
                <div class="row" style="min-height: 500px;">
                    <div class="col-lg-12" *ngIf="analytics.event_attendance_over_time.selected_chart">
                        <div *ngFor="let chart of over_time_charts">
                            <app-chart minHeight="500px" *ngIf="analytics.event_attendance_over_time.selected_chart === chart.field"
                                [chartData]="analytics.event_attendance_over_time[chart.field]"></app-chart>
                        </div>
                    </div>
                    <div class="col-lg-12 text-left" *ngIf="!analytics.event_attendance_over_time.selected_chart">
                        There's no event data to show with the selected date range.
                    </div>
                </div>
            </tab>

            <tab (select)="tab = 4" [active]="tab === 4" heading="Free Food Events" *ngIf="analytics?.free_food_events_chart">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-12">
                        <app-chart minHeight="500px" [chartData]="analytics.free_food_events_chart"></app-chart>
                    </div>
                </div>
            </tab>

            <tab (select)="tab = 5" [active]="tab === 5" heading="Audience Academic Level" *ngIf="analytics?.events_by_audience?.grad_undergrad_chart">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-12">
                        <app-chart minHeight="500px" [chartData]="analytics.events_by_audience.grad_undergrad_chart"></app-chart>
                    </div>
                </div>
            </tab>
            <tab (select)="tab = 6" [active]="tab === 6" heading="Audience Graduation Year" *ngIf="analytics?.events_by_audience?.grad_year_chart">
                <app-chart minHeight="500px" [chartData]="analytics.events_by_audience.grad_year_chart"></app-chart>
            </tab>
            <tab (select)="tab = 7" [active]="tab === 7" heading="Audience Fields of Study" *ngIf="analytics?.events_by_audience?.fields_of_study_chart">
                <app-word-cloud [words]="analytics.events_by_audience.fields_of_study_chart"></app-word-cloud>
            </tab>
        </tabset>

    </div>
</div>