<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-user"></i> Users</h3>
    </div>
    <div class="panel-body">
        <div class="text-center">
            <i class="main-spinner fa fa-spin fa-spinner" *ngIf="loading"></i>
            <table class="table table-striped" [mfData]="users" #mf="mfDataTable" [mfRowsOnPage]="5" *ngIf="!loading">
                <thead>
                    <tr>
                        <th style="width: 20%">
                            <mfDefaultSorter by="name">Name</mfDefaultSorter>
                        </th>
                        <th style="width: 40%">
                            <mfDefaultSorter by="email">Email</mfDefaultSorter>
                        </th>
                        <th style="width: 20%">
                            <mfDefaultSorter by="hometown">City</mfDefaultSorter>
                        </th>
                        <th style="width: 20%">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of mf.data">
                        <td>{{user.first_name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.hometown}}</td>
                        <td>
                            <a class="btn btn-primary" [routerLink]="['edit', user.user_id]" title="Edit"><span class="fa fa-pencil"></span></a>
                        </td>
                    </tr>
                    <tr *ngIf="!mf.data.length">
                        <td colspan="4">There is no users to show.</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>