<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-user"></i> Users</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-3">
            <div class="form-group">
                <label for="selSchool">School:</label>
                <select class="form-control" [(ngModel)]="school_id" (change)="changeDomain()">
                    <option *ngFor="let d of domains" [value]="d.id">{{d.full_name}}</option>
                </select>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="!users.length">
                    <td colspan="3">No users to show.</td>
                </tr>
                <tr *ngFor="let user of users;">
                    <td>{{user.first_name}} {{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <a class="btn btn-primary" [routerLink]="['edit', user.user_id]"><span class="fa fa-pencil"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>